@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply min-h-[100svh] overflow-y-scroll font-work-sans;
}

@layer base {
    :root {
        --radius: 0.5rem;
    }
}
@layer components{
    .tag-decoration {
        @apply before:content-[''] before:absolute before:top-2 before:left-2 before:border-t-[10px]
		before:border-t-black before:border-r-[10px] before:border-r-transparent after:content-['']
		after:absolute after:bottom-2 after:right-2 after:border-b-[10px] after:border-b-black
		after:border-l-[10px] after:border-l-transparent;
    }

    .profile-title {
        @apply bg-white border-[5px] border-black rounded-[20px] px-5 py-3 absolute
        -top-10 after:absolute after:content-[''] after:-top-1 after:right-0 after:-skew-y-[7deg]
        after:bg-secondary-100 after:-z-[1] after:rounded-[20px] after:w-full after:h-[60px]
        before:absolute before:content-[''] before:-bottom-1 before:left-0 before:-skew-y-[7deg]
        before:w-full before:h-[60px] before:bg-secondary-100 before:-z-[1]
        before:rounded-[20px] shadow-100 before:shadow-sm before:shadow-black/10;
    }
}

@layer utilities {
    .dropdown-menu {
        @apply w-56 border-[5px] border-black bg-white p-5 rounded-2xl !important;
    }

    .pattern {
        background-image: linear-gradient(
            to right,
            transparent 49.5%,
            rgba(251, 232, 67, 0.2) 49.5%,
            rgba(251, 232, 67, 0.6) 50.5%,
            transparent 50.5%
        );
        background-size: 6% 100%;
        background-position: center;
        background-repeat: repeat-x;
    }

    .pattern-xs {
        background-image: linear-gradient(
            to right,
            transparent 49.5%,
            rgba(251, 232, 67, 0.2) 49.5%,
            rgba(251, 232, 67, 0.6) 50.5%,
            transparent 50.5%
        );
        background-size: 10% 100%;
        background-position: center;
        background-repeat: repeat-x;
    }
}
